body{
    background-color: #aaa;
}
.ueber1{
    /* Farben nach Namen */
    color: blue;
    
}
.ueber2{
    /* Hex # */
    color: #a2f4;
    /* 0 -> schwarz
    1 -> helleres schwarz
    2 -> noch helleres schwarz
    .
    .
    9 -> grau
    a -> helleres grau;
    b
    c
    ...
    f -> weiß; */
}
.ueber3{
    /* RGB-Farben */
    color: rgb(25, 123, 0)
}
div.grau{
    background-color: darkslategray;
    color: floralwhite;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}