body{
    background-image: url(../Bilder/mandala.png);
    background-size: 50px;
    /*  background-repeat: no-repeat; */
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    
}
h1{
    color: blue;
}