.link1{
    color: black;
    text-decoration: none;
}
.link2{
    text-decoration: none;
    font-size: 50px;

}
.fa-blue{
    color: royalblue;
}
.link3{
    text-decoration: none;
    color: black;
}
.link3:hover{
    text-decoration: none; 
    font-weight: bolder;
    font-size: 115%;
}
.link3:visited{
    color: darkgrey;
    /* text-decoration: dotted; */
    
}
.link3:active{
    color:red;
}
