body{
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    
}
nav{
    
    padding: 10px;
    border-bottom-width: 3px;
    border-bottom-color: black ;
    border-bottom-style: solid;
    
}
p{
    margin-left: 10px;
}