body{
    padding : 3px;
    margin : 5px
}
h1{
    font-size: x-large;
    background-color: seashell;
}
.tt{
    text-transform: uppercase;
}
.ti{
    text-indent: 50%;
    text-align: justify;
}
#s1{
    letter-spacing: -1.5px ;
}
#s2{
    letter-spacing: 1px;
}
#s3{
    letter-spacing: 5px;
}
#s4{
    letter-spacing: 2px ;
    
}
#lh{
    line-height: 10px /* %/int */;
}

