body{
    background-image: url(../Bilder/milchstraße.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}
form{
    color: white;
    font-size: large;
    margin: 0 auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 60%);
    padding: 12px;

}
.inputs{
    width: 500px;
    border: 3px solid darkblue;
    padding: 12px;
    text-align: left;
    /* font-size: large; */
    /* font-weight: 900; */
    background-color: rgb(0, 0, 59);
    color: white;

}
#input1{
    margin: 20px;
}
#input2{
    margin: 20px;
}
#input3{
    margin: 20px;
    font-family: monospace;
}
#button{
    font-size: large;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: 3px double white;
    padding: 3px;
    
}
label, input, button, textarea{
    display: block;
    
}
label{
    font-size: x-large;
    /* padding: 12px; */
    margin: 20px;
}
